server {
  listen 80;
  listen [::]:80;

  # Serve the static files of the frontend.
  location / {
    root                /usr/share/nginx/html;
    try_files           $uri $uri/ /index.html;
  }
}
