upstream api-gateway {
  server {{ .Release.Name }}-krakend-service:80;
}

upstream keycloak {
  server {{ .Release.Name }}-keycloak:80;
}

server {
  listen 80;
  listen [::]:80;
  listen 443 ssl;
  listen [::]:443 ssl;
  ssl_certificate /etc/ssl/certs/self-signed.crt;
  ssl_certificate_key /etc/ssl/private/self-signed.key;

  # Proxy Keycloak.
  location ~ (/keycloak|/keycloak/) {
    proxy_pass                http://keycloak;
    proxy_redirect            off;
    proxy_set_header          X-Real-IP $remote_addr;
    proxy_set_header          X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header          X-NginX-Proxy true;
    proxy_set_header          X-Forwarded-Proto https;
    proxy_ssl_session_reuse   off;
    proxy_set_header Host     $http_host;
    proxy_cache_bypass        $http_upgrade;
  }

  # Proxy REST calls to the underlying platform backend.
  location /api/ {
    proxy_pass                http://api-gateway;
    proxy_redirect            off;
    proxy_set_header          X-Real-IP $remote_addr;
    proxy_set_header          X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header          X-NginX-Proxy true;
    proxy_ssl_session_reuse   off;
    proxy_set_header Host     $http_host;
    proxy_cache_bypass        $http_upgrade;
  }

  # Serve the static files of the frontend.
  location / {
    root                /usr/share/nginx/html;
    try_files           $uri $uri/ /index.html;
  }
}
